<html>
  <head>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/base.css") %>'>
  </head>
  <body>
    <code class="code">templates/error/404.html.eex</code>
    <p>Page not found.</p>
  </body>
</html>
