@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --space-mobile: 1.25rem;
  --space: 1.75rem;
}

@layer base {
  html {
    font-size: 18px;
    @apply text-gray-800
  }

  iframe {
    display: none
  }
}

@layer components {
  .logo {
    @apply font-bold border-2 border-gray-800 px-1

  }
  .navbar {
    @apply flex items-center justify-between px-mb sm:px-sc mb-mb sm:mb-sc h-16 sm:h-20
  }

  .navbar-side-item {
    @apply w-1/5 min-w-min whitespace-nowrap flex items-center h-16
  }

  .container {
    @apply max-w-screen-sm sm:mx-auto box-content px-mb sm:px-sc
  }
}
