<html>
  <head>
    <%= csrf_meta_tag() %>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/base.css") %>'>
    <script defer type="text/javascript" src='<%= Routes.static_path(@conn, "/js/main.js") %>'></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
