<!doctype html>
<html lang="en">
  <head>
    <title><%= @meta.title %></title>
    <%= csrf_meta_tag() %>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#4285f4">
    <meta name="description" content="<%= @meta.description %>">
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://branchpage-homologation.herokuapp.com">
    <meta property="og:title" content="<%= @meta.title %>">
    <meta property="og:image" content="<%= @meta.social_image %>">
    <meta property="og:description" content="<%= @meta.description %>">
    <meta property="og:site_name" content="Branchpage">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://branchpage-homologation.herokuapp.com">
    <meta name="twitter:title" content="<%= @meta.title %>">
    <meta name="twitter:description" content="<%= @meta.description %>">
    <meta name="twitter:image" content="<%= @meta.social_image %>">
    <!--
    <meta name="author" content="author name">
    <meta name="date" content="date article was published">
    <meta property="og:type" content="article">
    <meta property="article:author" content="Autor do artigo">
    <meta property="article:section" content="Seção do artigo">
    <meta property="article:tag" content="Tags do artigo">
    <meta property="article:published_time" content="date_time">
    <meta name="twitter:site" content="@site_account">
    <meta name="twitter:creator" content="@individual_account">
    <link rel="author" href="">
    <link rel="canonical" href="">
    <link rel="first" href="">
    <link rel="next" href="">
    <link rel="prev" href="">
    <link rel="last" href="">
    -->
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/base.css") %>'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap">
    <script defer type="text/javascript" src='<%= Routes.static_path(@conn, "/js/main.js") %>'></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-zc7WDnCM3aom2EziyDIRAtQg1mVXLdILE09Bo+aE1xk0AM2c2cVLfSW9NrxE5tKTX44WBY0Z2HClZ05ur9vB6A==" crossorigin="anonymous"></script>
  </head>
  <body class="min-h-screen flex flex-col justify-between">
    <%= @inner_content %>
    <footer class="p-5 sm:p-8 mt-5 sm:mt-8 text-gray-400">
      <a class="hover:underline" href="/">Branchpage</a>
      <a class="px-8 hover:underline" href="https://github.com/felipelincoln/branchpage">GitHub</a>
    </footer>
  </body>
</html>
