<!doctype html>
<html lang="en">
  <head>
    <title>Branchpage</title>
    <%= csrf_meta_tag() %>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#4285f4">
    <meta name="description" content="A description of the page">
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://branchpage-homologation.herokuapp.com">
    <meta property="og:title" content="Content Title">
    <meta property="og:image" content='<%= Routes.static_path(@conn, "/images/cover.png") %>'>
    <meta property="og:description" content="Description Here">
    <meta property="og:site_name" content="Branchpage">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://branchpage-homologation.herokuapp.com">
    <meta name="twitter:title" content="Content Title">
    <meta name="twitter:description" content="Content description less than 200 characters">
    <meta name="twitter:image" content='<%= Routes.static_path(@conn, "/images/cover.png") %>'>
    <!--
    <meta name="author" content="author name">
    <meta name="date" content="date article was published">
    <meta property="og:type" content="article">
    <meta property="article:author" content="Autor do artigo">
    <meta property="article:section" content="Seção do artigo">
    <meta property="article:tag" content="Tags do artigo">
    <meta property="article:published_time" content="date_time">
    <meta name="twitter:site" content="@site_account">
    <meta name="twitter:creator" content="@individual_account">
    <link rel="author" href="">
    <link rel="canonical" href="">
    <link rel="first" href="">
    <link rel="next" href="">
    <link rel="prev" href="">
    <link rel="last" href="">
    -->
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/base.css") %>'>
    <link rel="icon" type="image/png" href="/favicon.png">
    <script defer type="text/javascript" src='<%= Routes.static_path(@conn, "/js/main.js") %>'></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
