<!doctype html>
<html>
  <head>
    <title>Branchpage</title>
    <%= csrf_meta_tag() %>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#4285f4">
    <meta name="description" content="A description of the page">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/base.css") %>'>
    <link rel="icon" type="image/png" href='<%= Routes.static_path(@conn, "/favicon.png") %>'>
    <script defer type="text/javascript" src='<%= Routes.static_path(@conn, "/js/main.js") %>'></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
