<nav class="flex items-center justify-between p-8">
  <a href="#"><%= @name %></a>
  <p>
    <a href="#" class="mr-8">Edit</a>
    <a href="#">Donate</a>
  </p>
</nav>

<main class="container max-w-screen-sm mb-32">
  <article>
    <p class="text-gray-700"><%= @date %></p>
    <h1 class="font-bold text-5xl"><%= @title %></h1>
    <div class="text-gray-700 mt-8"><%= raw @body_html %></div>
  </article>
</main>
