<nav class="flex items-center justify-between text-gray-800 p-4 sm:p-8 mb-4 sm:mb-8">
  <a href="#"><%= @name %></a>
  <p>
    <a href="#" class="mr-4 sm:mr-8">Edit</a>
    <a href="#">Donate</a>
  </p>
</nav>

<main class="box-content max-w-screen-sm sm:mx-auto px-4 sm:px-8">
  <article>
    <p class="text-gray-700"><%= @date %></p>
    <h1 class="font-bold text-3xl sm:text-5xl mb-4 sm:mb-8"><%= @title %></h1>
    <div class="text-gray-700"><%= raw @body_html %></div>
  </article>
</main>
